<!-- templates/doctor_dashboard.html -->

{% extends 'base.html' %}

{% block title %}Doctor Dashboard{% endblock %}

{% block content %}
<h2>Welcome, Dr. {{ user[1] }} {{ user[2] }}</h2>
<img src="{{ url_for('static', filename=user[3]) }}" alt="Profile Picture" class="profile-pic">
<ul>
    <li>Username: {{ user[4] }}</li>
    <li>Email: {{ user[5] }}</li>
    <li>Address: {{ user[7] }}, {{ user[8] }}, {{ user[9] }}, {{ user[10] }}</li>
    <li>User Type: {{ user[11] }}</li>
</ul>
{% endblock %}
